.sponsor_banner{
    width: 100%;
    height: 100%;
    background-image: url(../img/sponsor/sponsor_banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sponsor .section{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/sponsor/sponsor_bg.png);
}

.sponsor_video{
    width: 1110px;
}
.sponsor_video_infor{
    box-shadow: 0 10px 30px 0 rgba(67,150,229,.2);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}
.sponsor_video h3{
    font-size: 26px;
    color: #C00D2D;
    font-weight: bold;
}
.sponsor_video_infor .video_box{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
}
.sponsor_video_infor .video_box .video_box_img{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
    margin: 20px 20px 0 0;
    width: 700px;
    height: 419px;
    cursor: pointer;
}
.sponsor_video_infor .video_box .video_box_img video{
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}
.sponsor_video_infor .video_box .football_text{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 344px;
}
.sponsor_video_infor .video_box .football_text img{
    display: block;
    margin: 0 auto 20px;
    width: 116px;
}
.sponsor_video_infor .video_box .football_text p{
    color: #666;
    line-height: 24px;
    word-break: break-word;
    text-indent: 2em;
    text-align: justify;
}
.sponsor_video_infor .video_box .football_text p span{
    font-weight: bold;
    color: #333;
}


.sponsor_match{
    padding: 20px 10px 30px;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(67,150,229,.2);
}
.sponsor_match .video_list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.sponsor_match .video_list .video_item{
    position: relative;
    margin: 0 10px;
    width: 252px;
    height: 188px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    overflow: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-filter: brightness(.7);
    filter: brightness(.7);
    cursor: pointer;
}
.sponsor_match .video_list .video_item:hover{
    -webkit-filter: brightness(1);
    filter: brightness(1);
}
.sponsor_match .video_list .video_item i{
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -18px;
    width: 39px;
    height: 39px;
    position: absolute;
    font-size: 38px;
    color: #fff;
}
.sponsor_match .video_list .video_item p{
    padding: 12px 0;
    color: #8F8F8F;
    text-align: center;
}


.sponsor_box{
    width: 1110px;
}
.sponsor_box .sponsor_img_box{
    position: relative;
}
.sponsor_box .sponsor_img_box img{
    width: 100%;
}
.sponsor_box .sponsor_img_box .sponsor_text_box{
    position: absolute;
    top: 27px;
    left: 26px;
    padding: 30px 55px 22px 55px;
    width: 436px;
    background: rgba(255,255,255,.85);
}
.sponsor_box .sponsor_img_box .sponsor_text_box p{
    color: #666;
    line-height: 30px;
    text-indent: 2em;
    text-align: justify;
}
.sponsor_box .sponsor_img_box .sponsor_text_box p span{
    font-weight: bold;
    color: #333;
}

.sponsor_box .honor_list_box{
    margin-top: 24px;
    padding: 20px 27px 46px;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(67,150,229,.2);
}
.sponsor_box .honor_list_box h3{
    font-weight: bold;
    margin-bottom: 10px;
    color: #c00d2d;
    font-size: 26px;
}
.sponsor_box .honor_list_box .honor_list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.sponsor_box .honor_list_box .honor_list .honor_item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.sponsor_box .honor_list_box .honor_list .honor_item img{
    height: 90px;
}
.sponsor_box .honor_list_box .honor_list .honor_item .honor_text_box{
    margin-top: 14px;
}
.sponsor_box .honor_list_box .honor_list .honor_item .honor_text_box b{
    display: block;
    margin-bottom: 4px;
    color: #C00D2D;
    font-size: 24px;
}
.sponsor_box .honor_list_box .honor_list .honor_item .honor_text_box span{
    font-size: 16px;
}



.sponsor_player h2{
    margin-bottom: 70px;
    text-align: center;
}
.sponsor_player .player_list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.sponsor_player .player_list .player_item{
    margin: 0 14px;
    width: 200px;
    background: #fff;
    box-shadow: 0 10px 30px 0 rgba(67,150,229,.2);
}



.sponsor_service{
    width: 1110px;
}
.sponsor_service .service_box{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 36px 33px 0 33px;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(67,150,229,.2);
}
.sponsor_service .service_box .app_img{
    width: 298px;
}
.sponsor_service .service_box .app_img img{
    width: 100%;
}

.sponsor_service .service_box .service_content{
    width: 640px;
    margin-left: 36px;
}
.sponsor_service .service_box .service_content h2{
    margin-bottom: 52px;
    text-align: center;
}
.sponsor_service .service_box .service_content h2 img{
    width: 222px;
}
.sponsor_service .service_box .service_content .service_icons{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 36px;
}
.sponsor_service .service_box .service_content .service_icons .service_icon{
    margin: 0 22.5px;
    width: 131px;
    text-align: center;
}
.sponsor_service .service_box .service_content .service_icons .service_icon img{
    height: 59px;
    margin-bottom: 24px;
}
.sponsor_service .service_box .service_content .service_icons .service_icon h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 13px;
}
.sponsor_service .service_box .service_content .service_icons .service_icon p{
    color: #8F8F8F;
    line-height: 20px;
}

.sponsor_service .service_box .service_content .logo_box{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.sponsor_service .service_box .service_content .logo_box img{
    width: 90%;
}

.sponsor_service .license_box{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 10px 30px 0 rgba(67,150,229,.2);
    background: rgba(0,0,0,.4);
}



.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    margin: 20px 0;
    background-color: #fff;
}
.swiper-container-vertical > .swiper-pagination-bullets {
    right: 50px;
}



.video_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .45);
    z-index: 11;
}
.video_modal .video_box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 500px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-size: cover;
}
.video_modal .video_box video{
    width: 100%;
}

.video_modal .video_box1{
    background-image: url(../img/sponsor/sponsor_video_img1.png);
}
.video_modal .video_box2{
    background-image: url(../img/sponsor/sponsor_video_img2.png);
}
.video_modal .video_box3{
    background-image: url(../img/sponsor/sponsor_video_img3.png);
}
.video_modal .video_box4{
    background-image: url(../img/sponsor/sponsor_video_img4.png);
}

.video-modal-enter-active,
.video-modal-appear-active-class {
    transition: all .1s ease;
}
.video-modal-leave-active {
    transition: all .0s;
}
.video-modal-enter, .video-modal-leave-to,
.video-modal-appear-class {
    opacity: 0;
}